<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwj.weiboClient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <!-- ###################声明SDK使用的相关权限###################### -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于评论模块分享位置信息 -->


    <!-- 有米传媒 Android SDK 所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 可选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- /有米传媒 Android SDK 所需权限 -->
    <application
        android:name="com.wwj.weiboClient.GlobalObject"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- OAuth Version 2. 使用  WebView 辅助进行ImplicitGrant方式授权必须 -->
        <activity
            android:name="com.tencent.weibo.webview.OAuthV2AuthorizeWebView"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".Authorize" >
        </activity>
        <activity
            android:name=".FragmentBottomTab"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".PostWeibo"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".AccountManage"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".PictureViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".PhotoViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".SingleWeiboViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".CommentListViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".SinaWeiboViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".SelfinfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".TencentWeiboViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".FriendsListViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".FollowsListViewer"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 友盟反馈 -->
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" >
        </activity>
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52f5e99d56240b5204085fa4" >
        </meta-data>
        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.AdReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- /SDK 必须配置 -->
        <!-- 积分广告必须配置 -->
        <receiver
            android:name="net.youmi.android.offers.OffersReceiver"
            android:exported="false" >
        </receiver>
        <!-- ／积分广告必须配置 -->
        <!-- SmartBanner广告必须配置 -->
        <activity
            android:name="net.youmi.android.SmartBannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Transparent" >
        </activity>

        <service
            android:name="net.youmi.android.SmartBannerService"
            android:exported="false" >
        </service>
        <!-- /SmartBanner广告必须配置 -->
        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="0" >
        </meta-data>
        <!-- /有米渠道号(可选配置) -->
        <!-- /有米传媒 Android SDK 配置 -->
    </application>

</manifest>